.loginsignup {
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginsignup-container {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.loginsignup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.loginsignup-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginsignup-container input[type="text"],
.loginsignup-container input[type="email"],
.loginsignup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.loginsignup-container button {
    background: #f71e34;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.loginsignup-container button:hover {
    background: #ff4081;
    
}


.loginsignup-container a {
    text-decoration: none;
    color: #ff69b4;
    font-size: 14px;
    margin-top: 10px;
}

.loginsignup-container a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .loginsignup-container {
        width: 90%;
    }
}
